/* Corps de la page */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    background-color: #f5f5f5; /* Blanc pur */
    color: #333333; /* Noir profond */
    margin: 0;
    padding: 0;
    line-height: 1.8; /* Meilleure lisibilité */
}

/* MenuSection.css */
.category-title-input {
  flex: 1;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.category-title {
  flex: 1;
  font-size: 1.5em;
  font-weight: bold;
}

.item-name-input,
.item-price-input {
  flex-shrink: 1;
  flex-grow: 0;
  padding: 5px;
  font-size: 1em;
  border: none;
  background-color: transparent;
}

.item-name-input {
  flex: 7;
  /*min-width: 350px;*/
  margin-right: 10px;
  padding: 5px;
  font-size: 1em;
}

.item-price-input {
  flex: 3;
  width: auto; /* Ajustez la largeur selon vos besoins */
  text-align: right;
  /*max-width: 150px;*/
  padding: 5px;
  font-size: 1em;
}

.item-name {
  flex: 1;
  margin-right: 10px;
}

.item-price {
  width: 80px;
  text-align: right;
}

.item-name-input,
.item-name {
  flex-grow: 7; /* 70% de l'espace */
  margin-right: 10px;
  padding: 5px;
  font-size: 1em;
}

.item-price-input,
.item-price {
  flex-grow: 3; /* 30% de l'espace */
  text-align: right;
  padding: 5px;
  font-size: 1em;
}

.App-header {
    display: flex; /* Active Flexbox */
    align-items: center; /* Aligne verticalement les enfants au centre */
    justify-content: space-between; /* Place les enfants aux extrémités : gauche et droite */
    height: 100px; /* Hauteur du header */
    background-color: #f5f5f5; /* Fond blanc */
    border-bottom: 2px solid #d4af37; /* Ligne dorée */
    padding: 0 20px; /* Espacement horizontal à gauche et à droite */
    position: relative;
}

@media (max-width: 600px) {
    .App-header {
        flex-direction: column;
        height: auto;
    }
    .page-title {
        position: static;
        transform: none;
        margin-top: 10px;
    }
    .custom-button {
        margin-top: 10px;
    }
}

.App-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    /* padding: 0 20px; */ /* Supprimé, car le padding est déjà dans .container */
}
.container {
    max-width: 1200px; /* Vous pouvez ajuster la largeur maximale selon vos besoins */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    padding: 0 20px; /* Ajoute un espace horizontal */
}

/* Logo du restaurant */
.restaurant-logo {
    /* position: absolute; */ /* Supprimé */
    /* top: 10px; */ /* Supprimé */
    /* left: 10px; */ /* Supprimé */
    width: 50px; /* Taille fixe pour un aspect uniforme */
    height: 50px; /* Taille fixe pour correspondre au width */
    object-fit: contain; /* Ajuste l'image pour éviter les déformations */
    border-radius: 8px; /* Coins légèrement arrondis pour un style moderne */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de relief */
    margin-right: 20px; /* Espace entre le logo et le titre */
}

.custom-edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-edit-button.edit-mode {
  background-color: #d4af37;
  color: white;
}

.custom-edit-button.save-mode {
  background-color: green;
  color: white;
}
/* Bouton personnalisé */
.custom-button {
    background-color: #d4af37;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: auto;
}

.custom-button:hover {
    background-color: #c9a76a;
    transform: scale(1.05);
}

.custom-button:active {
    background-color: #b8955c;
    transform: scale(0.95);
}

/* Titre centré */
.page-title {
    /*flex: 1;*/ /* Laisse le titre occuper l'espace disponible */
    position: absolute;
    /* top: 50%; */ /* Supprimé */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-align: center; /* Centre le texte à l'intérieur de l'élément */
}

/* Conteneur principal */
.menu-container {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    /*max-height: 600px;*/ /* Hauteur maximale pour l'ensemble du menu */
    overflow-y: auto; /* Activation du scroll vertical */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #d4af37;
}

/* Titre principal */
h1 {
    text-align: center;
    font-size: 32px;
    color: #282828; /* Doré pour le titre principal */
    margin-bottom: 20px;
    text-transform: uppercase; /* Majuscules élégantes */
    letter-spacing: 2px; /* Espacement pour plus de classe */
}

/* Section des catégories */
.category {
    margin-bottom: 0;
    border-bottom: 1px solid #d4af37;
    border-radius: 10px;
    overflow: hidden;
}

/* En-tête de la catégorie */
.category-header {
    display: flex;
    border-radius: 10px;
    border: none;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c; /* Fond noir élégant */
    color: #f8f8f8; /* Texte blanc */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-header input {
  cursor: text;
}

.category-header:hover {
    background-color: #d4af37; /* Fond doré au survol */
    color: #2c2c2c; /* Texte noir au survol */
}

/* Liste des items */
.category ul {
    margin: 0;
    opacity: 0;
    padding: 0 20px;
    display: block;
    flex-direction: column; /* Aligne les items verticalement */
    align-items: flex-start; /* Aligne les items sur la gauche */
    justify-content: flex-start; /* Garde un alignement propre */
    list-style: none;
    transform: translateY(-10px);
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    overflow: hidden;
}

.category ul.visible {
    opacity: 1;
    display: block;
    /*transform: translateY(0);*/
    max-height: 500px; /* Ajustez selon le contenu */
    overflow-y: auto; /* Activer le scroll vertical si nécessaire */
    padding: 10px 20px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    border-top: 1px solid #d4af37; /* Optionnel pour délimiter */
}

.category ul.visible::-webkit-scrollbar {
    width: 8px;
}
.category ul.visible::-webkit-scrollbar-thumb {
    background: #d4af37; /* Couleur dorée pour le scrollbar */
    border-radius: 10px;
}
.category ul.visible::-webkit-scrollbar-thumb:hover {
    background: #c9a76a; /* Couleur légèrement plus foncée au survol */
}
.category ul.visible::-webkit-scrollbar-track {
    background: #f5f5f5; /* Couleur du fond */
}

/* Items */
.category ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #d4af37; /* Ligne de séparation dorée */
    text-align: left;
    overflow: visible;
}

.category ul li:first-child {
    padding-top: 20px; /* Ajoute de l'espace au-dessus */
}

.category ul li:last-child {
    border-bottom: none; /* Pas de ligne pour le dernier élément */
}

.item-price {
    font-size: 16px;
    font-style: italic; /* Italique pour les prix */
    color: #2c2c2c; /* Noir légèrement différent pour les prix */
}

/* Flèche */
.arrow {
    font-size: 16px;
    margin-left: auto;
    transition: transform 0.3s ease;
}

.arrow.right {
    transform: rotate(0deg); /* Flèche vers la droite */
}

.arrow.down {
    transform: rotate(90deg); /* Flèche vers le bas */
}

/* Pied de page */
footer {
    text-align: center;
    font-size: 14px;
    color: #000000;
    margin-top: 40px;
    border-top: 1px solid #d4af37;
    padding: 10px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.delete-button {
  background: none;
  border: none;
  color: #ff4d4f; /* Couleur rouge pour indiquer la suppression */
  cursor: pointer;
  margin-left: 10px;
}

.delete-button:hover {
  color: #ff7875; /* Couleur plus claire au survol */
}

.item-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-allergene {
  font-size: 0.9em; /* Taille de police légèrement plus petite */
  color: #666666; /* Couleur grise pour distinction */
  margin-top: 5px; /* Espacement au-dessus */
  text-align: left; /* Aligner à gauche */
}

.item-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-allergene-input {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  border: none;
  background-color: transparent;
  margin-top: 5px; /* Espacement au-dessus */
}

.add-category-button {
  display: flex;
  align-items: center;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #2845a7; /* Couleur bleue */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-category-button:hover {
  background-color: #218838;
}

.add-item-button {
  background: none;
  border: none;
  color: #2845a7; /* Couleur verte pour l'ajout */
  cursor: pointer;
  margin-left: 10px;
}

.add-item-button:hover {
  color: #218838;
}

.loading-spinner {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #007bff;
}

/* Styles pour le container du spinner */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Spinner */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Couleur du bord extérieur */
  border-left-color: #007bff; /* Couleur principale */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Animation de rotation */
}

/* Animation de rotation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.qr-code-button {
  background-color: #d4af37;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 auto; /* Centrage horizontal */
  display: block; /* Permet à margin: auto de fonctionner */
  margin-top: 60px;
}

.qr-code-container {
  margin-top: 20px;
  display: flex; /* Active Flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement si nécessaire */
}

.qr-code-button:hover {
  background-color: #c9a76a;
}
